@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400; 0,900, 700&display=swap");


/* CSS Variables */
:root{
	--font-family:"Roboto",sans-serif;
	--normal-font:400;
	--bold-font:700;
	--bolder-font:900;
	--bg-color: #fcfcfc;
	--primary-color: #4756df;
	--secondary-color:#ff7235;
	--primary-shadow:#8b8eaf;
	--secondary-shadow:#a17a69;
	--bottom-margin:0.5rem;
	--bottom-margin-2: 1rem;
	--line-height:1.7rem;
	--transition: 0.3s;
}

/*End Variables*/

html{
	scroll-behavior: smooth;
}

/*CSS Resets*/

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}


ul{
	list-style-type:none;
}

a{
	text-decoration:none;
	color:var(--primary-color);
}

a:hover{
	color:var(--secondary-color);
}

body{
	font-family:var(--font-family);
}


nav{
	position:sticky;
	top:0px;
	left:0px;
	z-index:1;
	display:flex;
	align-items:center;
	justify-content: space-between;
	padding:1.5rem 3.5rem;
	background-color: var(--bg-color);
	box-shadow:0 3px 5px rgba(0,0,0,0.1);
}


nav h1{
	color: var(--primary-color);
}

nav a{
	color:var(--primary-color);
	transition:var(--transition);
}

nav a:hover{
	color:var(--secondary-color);
	border-bottom: 2px solid var(--secondary-color);
}

nav ul{
	display:flex;
	gap:1.9rem;
}

nav ul li{
	font-weight:var(--bold-font);
}


.burger-menu{
	color:var(--primary-color);
	font-size:2rem;
	border:0;
	background-color:transparent;
	cursor:pointer;
	display:none;
}


nav>button>i{
	font-size:48px !important;
}





.svg_L{
	background-color:navy;
	max-width: 100vw;
	height:70vw;
}


svg{
	height:70vw;
	width:100%;
}





.me{
	display: flex;
    align-items: right;
    justify-content: right;
    gap: 2.5rem;
    max-width: 100%;
    margin: auto;
    padding:2.5rem 1rem;
}

.bio{
	max-width:30rem;
	padding:1.5rem 2rem;
	border-radius:10px;
	box-shadow:0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
  text-decoration:underline;
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}


.Skills{
	max-width:100%;
	text-align:center;
	margin:auto;
	margin-top:2.5rem;

}

.skill-wraper{
	max-width:70%;
	margin:auto;
}

.icon{
	padding:1.5rem;
	height:10rem;
	width:9rem;
	margin:1rem;
}

.icon-card{
	background-image:linear-gradient(to bottom right, rgba(255,221,119,1), rgba(255,0,0,0.7));
	border-radius:7px;
	padding:1.25rem;
	box-shadow:0px 3px 10px navy;

}

#contact{
	max-width:100%;
	text-align:center;
	margin-top:4rem;
}

.form-box>h1{
	font-size:2rem;
	text-decoration: underline;
}

.form-box{
	max-width:45%;
	border:1px solid black;
	margin:auto;
	border-radius:8px;
	padding:2rem 1.5rem;
	box-shadow:0px 3px 10px navy;
}

.input-field{
	width:100%;
	padding:10px 5px;
	border-radius:5px;
	border:2px outset var(--primary-color);
	margin-bottom:1rem;
}


.form-box label{
	line-height:2rem;
	font-weight: var(--bold-font);
	color:var(--primary-color);
}

.form-control{
	text-align:left;
}

#message{
	height:14rem;
}

.submit-btn{
	width:100%;
	padding:0.5rem;
	border-radius:5px;
	border:2px outset var(--primary-color);
	background-color:var(--primary-color);
	font-size:1.2rem;
}

.submit-btn:hover{
	background-color:navy;
	color:white;
}


.foot{
	max-width:100%;
	margin-top:3rem;
	padding:0.5rem 2rem;
	text-align:center;
	box-shadow:0px -4px 10px var(--primary-shadow);
}


@media only screen and (max-width:900px){
	.svg_L{
		height:100vw;
		max-width:100%;
		border:hidden;
	}
	svg{
		height:100vw;
		width:100%;
		border:hidden;
	}
}

@media only screen and (max-width:720px){
	nav {
		padding :1rem 0.5rem;
	}

	nav ul{
		position:fixed;
		background-color:var(--bg-color);
		flex-direction:column;
		top:60px;
		left:40%;
		width:60%;
		text-align:center;
		padding-bottom:1rem;
		transform:translateX(120%);
		transition:transform 0.5s ease-in;
		
	}

	nav ul li{
		margin:2px;
	}

	.burger-menu{
		display:block;
	}

	nav ul.show{
		transform:translateX(0);
	}

	.form-box{
		max-width:80%;
	}
}

